<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>
<form class="form-group">
    <p>
        <label for="name">Nom:</label>
        <input type="text" #nom name="nom" class="form-control" [value]="values" autocapitalize (keyup)="onKeyup($event)">
    </p>
    <p>
        <label for="name">Prénom:</label>
        <input type="text" id="prenom" #prenom class="form-control" [value]="values">
    </p>
    <p> {{ prenom.value}} </p>
    <button class="btn-primary" (click)="reset()">Reset</button>
</form>