<form class="form-group">
    <p>
        <label for="name">Nom:</label>
        <input type="text" #nom class="form-control" [value]="" (blur)="update(nom.value)" (keyup.enter)="onEnter(nom.value)">
    </p>
    <p>
        <label for="name">Prénom:</label>
        <input type="text" #prenom class="form-control" [value]="" (blur)="update(prenom.value)" (keyup.enter)="onEnter(prenom.value)">
    </p>
    <p> {{ prenom.value | capitalizepipe }} </p>
    <button class="btn-primary" (click)="reset()">Envoyer</button>
</form>