<form [formGroup]="myFormGroup" class="form-group" (ngSubmit)="onSubmit()" novalidate>
    <p>
        <input type="password" id="password" name="password" class="form-control" formControlName="password" required minlength="3" maxlength="22" placeholder="écrivez ici votre nom" (blur)="onBlur($event)">
    </p>
    <div>
        <div [hidden]="password.valid || password.dirty" class="alert alert-danger">
            password is invalid
        </div>
    </div>
    <!-- <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
        <div>veuillez entrer un nom de plus de 3 caractères.</div>
    </div> -->
    <p>
        <input type="text" id="prenom" name="prenom" #prenom class="form-control" maxlength="22" placeholder="écrivez ici votre prénom." formControlName="firstname" minlength="2" required>
    </p>
    <!-- <div *ngIf="prenom.errors && (prenom.dirty || prenom.touched)" class="alert alert-danger">
        <div *ngIf="prenom.errors.minlength">veuillez entrer un prenom > 2 caractères.</div>
    </div> -->
    <input type="submit" value="s'enregistrer">
</form>